{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <a href="{{ path('app_user_index') }}">User</a>
    <a href="{{ path('app_company_index') }}">Company</a>
{% endblock %}